html,body{
    height: 100%;
}

body{
    font-family:Roboto;
    color:blue;
    background-color: chocolate;
}
.topo{
    display: flex; /*alinhar logo e menu lado a lado*/
    justify-content: space-between; /*justifica todos os elementos*/
    align-items: center;/*centraliza os elementos*/
    padding: 25px;
    background:white;
    border-bottom: 10px solid black;
}